.section__header {
  text-align: center;
}

.section__header-title {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 38px;
  line-height: 55px;
  margin: 2rem;
}

.section__header-subtitle {
  color: #266bf1;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 60px;
}

@media (min-width: 480px) {
  .section__header-title {
    font-size: 52px;
  }
}

/* @media(min-width: 595px) {
    .section__header-title {
        line-height: unset;
    }
} */
