/* Hero */

.hero {
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.bg-icon-circle {
    z-index: -100000;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 180px;
    left: 5px;
    opacity: .25;
}


.hero__title {
    color: var(--text-primary);
    font-size: var(--fs-h3-sm);
    line-height: 3rem;
    margin-bottom: 0;
    text-align: left;
    font-weight: 900;
}

.hero__subtitle {
    font-size: var(--fs-p-big-sm);
    line-height: 28px;
    letter-spacing: .2px;
    margin-bottom: 2.45rem;
    /* text-align: center; */

}

.hero__left-info {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2.45rem;
}

.hero__info-title {
    color: var(--text-primary);
    margin-bottom: 1.3rem;
    font-size: var(--fs-h4-lg);
    font-weight: 700;
}

.hero__info-subtitle {
    font-size: var(--fs-p-default-sm);
    letter-spacing: 1px;
    margin-top: 0;
}

.hero__info-1 {
    padding: .6rem;
    width: 90%;
    margin-inline: auto;
}

.hero__info-2 {
    border-top: 1px solid #cfd2ec;
    padding: .6rem;
    width: 90%;
    margin-inline: auto;
}

.hero__btn {
    margin-bottom: 2.45rem;
}

.hero__right img {
    border-radius: 10px;
}

/* check if this works when adding media queries */

.hero__right-img-fill {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-image: url('/assets/img/index-hero.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

@media (min-width: 525px) {
    .bg-icon-circle {
        width: 180px;
        height: 180px;
        top: 160px;
    }
}

@media (min-width: 666px) {
    .bg-icon-circle {
        left: 30px;
    }

    .hero__title {
        color: var(--text-primary);
        font-size: var(--fs-h2-lg);
        line-height: 4.5rem;
        letter-spacing: -1px;
    }

    .hero__subtitle {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .hero__left-info {
        display: flex;
    }

    .hero__info-2 {
        border-top: 0;
        border-left: 1px solid #cfd2ec;
        padding: .6rem;
        height: 100px;
        margin-block: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 980px) {
    .hero {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .hero__left {
        width: 50%;
    }

    .hero__right {
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .hero__right-img-fill {
        width: 100%;
        height: 600px;
        object-fit: cover;
        /* object-position: 50% 50%; */
    }

    /* .hero__right img {
        height: 600px;
        justify-content: center;
    } */

    .bg-icon-circle {
        width: 180px;
        height: 180px;
        top: 190px;
        left: 55px;
    }

}