/*  Header Navigation */
.main-nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-inline: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
}

.main-nav__left,
.main-nav__right {
    display: none;
}

.main-nav__center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-nav__logo {
    display: inline-block;
    height: 70px;
    width: 70px;
}

.main-nav__logo-text {
    font-size: 17px;
    font-weight: 700;
    color: var(--text-primary);
    margin-left: -10px;
}

.main-nav__logo-text-accent {
    color: #7421fc;
}

@media(min-width: 490px) {
    .main-nav__logo-text {
        font-size: var(--fs-p-big-sm);
    }
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.main-nav__list-item {
    padding-inline: 1rem;
    font-size: var(--fs-p-default-sm);
    font-weight: 400;
    position: relative;
}

.main-nav__menu {
    background-color: var(--bg-primary);
    padding: .5rem;
    border-radius: 10px;
}

.main-nav__menu:hover {
    background-color: #fff;
    cursor: pointer;
}

.main-nav__icon {
    height: 40px;
    width: 40px;
}

/* Nav dropdown */

.dropdown-menu {
    display: none;
    flex-direction: column;
    width: 220px;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 5px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 60px;
    left: -20px;
    list-style-type: none;
}

.dropdown__list-item {
    padding-inline: 1rem;
    font-size: var(--fs-p-default-sm);
    font-weight: 500;
}

.dropdown-menu-visible {
    display: flex;
}

.dropdown-menu-visible-mobile {
    display: flex;
    top: 150px;
}

/* Mobile Navigation */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    padding-top: 2rem;
    left: 0;
    right: 0;
    transform: translateY(-200%);
    transition: transform 300ms ease-in-out;
}

.mobile-nav--visbile {
    transform: translateY(0)
}

.mobile-nav__left,
.mobile-nav__right {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.mobile-nav__left,
.mobile-nav__right {
    width: 49%;
    padding: .4rem 1.4rem;
}

.mobile-nav__list {
    list-style: none;
    padding: 0;
}

.mobile-nav__list-item {
    font-size: var(--fs-p-default-sm);
    font-weight: 700;
    margin-bottom: 1.65rem;
    line-height: 30px;
}

.mobile-nav__list-item:last-of-type {
    margin-bottom: 0;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-down-icon {
    width: 20px;
    height: 20px;
}