.textBlock__main {
  position: relative;
  /* background-color: var(--text-primary); */
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 5rem;
  text-align: center;
}

.textBlock__header {
  padding-inline: 20px;
  margin-bottom: 40px;
}

.textBlock__header-title {
  font-size: 38px;
  font-weight: 900;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 2.5rem;
  /* max-width: 50%; */
}

.textBlock__header-subtitle {
  font-size: 18px;
  margin-bottom: 3rem;
  line-height: 1.7rem;
  text-align: center;
  /* max-width: 50%; */
}
